.ReactTags__tagInputField {
  display: none;
}
.ReactTags__selected span.ReactTags__tag {
  border: 0.07vw solid #ddd;
  background: #eee;
  font-size: 1.2vw;
  display: inline-block;
  padding: 0.3vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin: 0.1vw;
  border-radius: 0.1vw;
  font-weight: bold;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 0.1vw;
  cursor: pointer;
}